<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add new task</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container mt-5" style="max-width: 500px;">
            <h1 class="text-center mb-4">Add New Task</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for message, category in messages %}
                        <div class="alert alert-{{ category }} alert-dissmissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form method="post">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.title.label(class="form-label") }}
                    {{ form.title(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.description.label(class="form-label") }}
                    {{ form.description(class="form-control", rows=3) }}
                </div>
                <div class="mb-3">
                    {{ form.date.label(class="form-label") }}
                    {{ form.date(class="form-control", type="date") }}
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Add new Task</button>
                    <a href="{{ url_for('app.index') }}" class="btn btn-secondary w-100">Return To Do List</a>
                </div>

            </form>
        </div>
        <script src="https://cdn.jsdelivr.org/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>